@import "./Variables.module.scss";
 

.category_card{
    flex: 1;
    margin: 0 5px;

    .info{
        margin: 10px;
        @include flex-column;

        h4{
            font-weight: 700;
            font-size: 28px;
        }
        p{
            font-weight: 600;
            font-size: 18px;
        }
        button{
            padding:10px 16px;
            background-color: white;
            font-weight: 600;
            border: 1px solid black;

            &:hover{
                color: white;
                background-color: black;
            }
        }

    }

}