@import "./Variables.module.scss";

.accordion_container {
  display: flex;
  margin: 30px 60px;
  margin-left: 60px;
  .accordion_wrapper {
    width: 95%;
    // width: 90%;
    margin: 0px 5px;
    .accordion_item {
      border-bottom: 3px solid $extra-light-grey;
      padding: 10px;
      // width: 100%;
      width: 60%;

      .accordion_heading {
        @include flex-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
        padding: 0px 5px;
        padding-left: 0px;
        h4 {
          font-size: 14px;
          margin: 10px 0;
          font-weight: 600;
          text-transform: capitalize;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .accordion_content {
        max-height: 0;
        overflow: hidden;
        .content_filter_wrapper {
          margin: 10px 0;

          h2 {
            margin-top: 20px;
            font-size: 13px;
            font-weight: 400;
            span {
              cursor: pointer;
              text-decoration: underline;
              font-weight: 700;
              &:hover {
                text-decoration: none;
              }
            }
          }
          h3 {
            margin-top: 35px;
            font-size: 11px;
            font-weight: 400;
            color: $extra-light-grey;
          }

          .names {
            margin-top: 15px;
            display: flex;
            // width: 60%;
            justify-content: space-between;
            span {
              width: 50%;
              font-style: normal;
              font-variant: normal;
              font-size: 12px;
              font-weight: 700;
            }
          }

          .inputs {
            margin-top: 20px;
            display: flex;
            // width: 60%;
            justify-content: space-between;
            input {
              margin-right: 10px;
              width: 50%;
              font-style: normal;
              font-variant: normal;
              font-size: 12px;
              font-weight: 400;
              border: none;
              border-bottom: 1px solid grey;
              outline: none;
            }
          }
          .address_div {
            margin-top: 30px;
            display: flex;
            // width: 60%;
            justify-content: space-between;
            span {
              font-style: normal;
              font-variant: normal;
              font-size: 12px;
              font-weight: 700;
            }

            .address {
              width: 74%;
            }

            .optional {
              width: 26%;
            }
          }

          .address_inputs_div {
            margin-top: 20px;
            // width: 59%;
            display: flex;
            input {
              font-style: normal;
              font-variant: normal;
              font-size: 12px;
              font-weight: 400;
              border: none;
              border-bottom: 1px solid grey;
              outline: none;
            }

            .address_inputs {
              width: 75%;
            }

            .optional_input {
              width: 25%;
              margin-left: 10px;
            }
          }

          .city_div {
            margin-top: 30px;
            // width: 59%;
            display: flex;
            flex-direction: column;

            h5 {
              width: 50%;
              font-style: normal;
              font-variant: normal;
              font-size: 12px;
              font-weight: 700;
            }
            input {
              margin-top: 15px;
              font-style: normal;
              font-variant: normal;
              font-size: 12px;
              font-weight: 400;
              border: none;
              border-bottom: 1px solid grey;
              outline: none;
            }

            .address_inputs {
              width: 75%;
            }

            .optional_input {
              width: 25%;
              margin-left: 10px;
            }
          }

          button {
            cursor: pointer;
            margin-top: 25px;
            color: #ffffff;
            background-color: $yellow;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            // padding: 10px 50px;
            width: 160px;
            height: 40px;
            &:hover {
              background-color: $yellow-light;
            }
          }

          h5 {
            padding-top: 15px;
            // color: $extra-light-grey;
            font-size: 18px;
            font-weight: 700;
          }

          .total {
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;
            // width: 50%;
            width: 70%;
            font-style: normal;
            font-variant: normal;
            font-size: 16px;
            font-weight: 400;
          }

          .payment_info {
            // width: 58%;
            width: 78%;
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0px;
            font-style: normal;
            font-variant: normal;
            font-size: 16px;
            font-weight: 400;

            .shipping {
              p {
                font-weight: 700;
              }
            }

            .payment {
              display: flex;
              flex-direction: column;

              .payment_bold {
                font-weight: 700;
              }
              p {
                span {
                  margin-left: 30px;
                }
              }
            }
          }
        }
      }

      .accordion_content_show {
        max-height: 9999px;
        transition: max-height 3s ease-in-out 0s;
      }

      #showpaymentinfo {
        background: #000;
      }
    }
  }

  .checkout_summary_wrapper {
    width: 25%;
    height: 200px;
    background-color: $xs-grey;
    @include flex-column;
    .checkout_summary {
      width: 90%;
      height: 90%;
      background-color: white;
      padding: 20px;
      padding-bottom: 5px;
      margin: 20px 0;

      p {
        line-height: 13px;
        display: flex;
        justify-content: space-between;
        span {
          font-style: normal;
          font-variant: normal;
        }
      }

      .items {
        font-size: 13px;
        .Subtotal {
          font-weight: 700;
        }
      }

      .shipping {
        font-weight: 700;
        font-size: 12px;
      }

      .taxes {
        font-size: 12px;
        .bold {
          font-weight: 700;
        }
      }

      .order {
        border-top: 1px solid $light-grey;
        padding-top: 5px;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: $breakpoint-large) {
  .accordion_container {
    margin: 10px 0px;
    margin-left: 15px;
    width: 95%;

    .accordion_wrapper {
      margin: 0px;
      width: 100%;

      .accordion_item {
        border-bottom: 3px solid $extra-light-grey;
        padding: 10px;
        width: 80%;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .accordion_container {
    margin-left: 5px;
    .accordion_wrapper {
      .accordion_item {
        width: 100%;

        .accordion_content {
          .content_filter_wrapper {
            .total {
              width: 67%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .accordion_container {
    .accordion_wrapper {
      .accordion_item {
        .accordion_heading {
          h4 {
            width: 100%;
            text-align: center;
            font-size: 20px;
          }
        }

        .accordion_content {
          .content_filter_wrapper {
            .address_div {
              .address {
                width: 65%;
              }

              .optional {
                width: 35%;
              }
            }

            .address_inputs_div {
              .address_inputs {
                width: 65%;
              }

              .optional_input {
                width: 35%;
              }
            }

            .city_div {
              h5 {
                width: 90%;
              }
            }

            .total {
              width: 100%;
            }

            .payment_info {
              width: 100%;

              .payment {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
}
