@import "./Variables.module.scss";

.menubar_wrapper {
    margin: 0 5px;
    margin-top: 0px;

    .cart_icon {
        cursor: pointer;
        padding: 0;

        .icon {
            font-size: 35px;
        }

        .hide {
            display: none;
        }

        .menubar {
            position: absolute;
            overflow-y: scroll;
            top: 100px;
            left: 0;
            color: black;
            // width: 500px;
            // height: 95.5%;
            z-index: 2;

            width: 70%;
            // height: 600px;

            // border-right: 1px solid $extra-light-grey;
            // border-bottom: 1px solid $extra-light-grey;
            // background-color: white;
            // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);

            .hidenavbarbylist {
                display: none;
            }

            .shownavbarbylist {
                border-right: 1px solid $extra-light-grey;
                border-bottom: 1px solid $extra-light-grey;
                background-color: white;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);

                // parnet one

                .button {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 5px;
                    height: auto;

                    button {
                        width: 46%;
                        border: 1px solid $extra-light-grey;
                        padding: 6px 40px;
                        font-size: 12px;
                        margin: 10px;
                        border-radius: 5px;
                        background-color: white;

                        &:hover {
                            background: #000;
                            color: #ffffff;
                        }
                    }
                }

                // parnet two

                .zip {
                    margin-top: 2px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 8px;
                    height: auto;

                    p {
                        font-size: 14px;
                        color: $light-grey;

                        span {
                            cursor: pointer;
                            padding-left: 3px;
                            text-decoration: underline;
                            color: black;
                            font-weight: 1000px;
                        }

                        a {
                            cursor: pointer;
                            font-size: 20px;
                            margin-right: 10px;
                        }
                    }
                    
                    .arrow {
                        cursor: pointer;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }

                // parent three

                .links {
                    height: auto;

                    .name {
                        box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.15);
                        background-color: $red;

                        // border-top-right-radius: 30px;
                        // border-top-left-radius: 30px;
                        height: 40px;
                        padding-top: 7px;
                        border-bottom: 2px solid white;

                        .logo {
                            height: 32px;
                            padding: 0 20px;
                            padding-top: 2px;
                            margin-bottom: 0px;
                            background-color: white;
                            // border-top-right-radius: 30px;
                            // border-top-left-radius: 30px;
                            display: flex;
                            justify-content: space-between;

                            div {
                                display: flex;
                                height: 100%;

                                h4 {
                                    font-size: 16px;
                                    height: 100%;
                                    padding-top: 6px;
                                }
                            }

                            h3 {
                                font-size: 14px;
                                font-weight: 800px;
                                text-decoration: underline;
                                padding-top: 3px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .menubar_wrapper {
        .cart_icon {
            font-size: 10px;

            .icon {
                cursor: pointer;
                font-size: 28px;
            }

            .menubar {
                width: 100%;
                // height: 600px;
                // height: 100vh;
                top: 60px;

                .hidenavbarbylist {
                    display: none;
                }

                .shownavbarbylist {
                    // parnet one

                    .button {
                        button {
                            font-size: 12px;
                            padding: 6px 0px;
                        }
                    }

                    // parent two

                    .zip {
                        p {
                            font-size: 12px;

                            span {
                                margin-left: 0px;
                            }

                            a {
                                font-size: 17px;
                                margin-right: 2px;
                            }
                        }

                        .arrow {
                            font-size: 17px;
                        }
                    }

                    // parent four
                    .baby {
                        .services {
                            p {
                                font-size: 11px;

                                a {
                                    margin-right: 5px;
                                    font-size: 0px;
                                }
                            }

                            .para {
                                padding: 0px 10px;
                                padding-top: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
