@import "./Variables.module.scss";

.navbar_links_items_wrapper {
  width: 95%;
  margin: auto;
  height: 50px;
  @include flex-around;
  border-top: 1px solid $extra-light-grey;
  border-bottom: 1px solid $extra-light-grey;
  align-items: center;
  padding: 0 40px;

  .links_wrapper {
    height: 100%;
    margin: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    .links {
      height: 100%;
      margin: 0;
      @include flex-center;
      cursor: pointer;
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-variant: normal;
      text-transform: uppercase;
      &:hover {
        color: rgb(91, 91, 91);
      }
    }

    .dropdown {
      z-index: 10;
      @include flex-column-start;
      align-items: flex-start;
      box-shadow: 0 0 5px $extra-light-grey;
      background-color: white;
      position: absolute;
      overflow: hidden;
      left: -50px;
      top: 40px;
      width: 220px;
      height: 0;
      padding: 0 14px;
      line-height: 30px;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
      transition-delay: 0.1s;
      padding: 0 14px 0 20px;

      .dropdown_link {
        cursor: pointer;
        margin: 0;
        font-size: 14px;

        &:hover {
          color: rgb(20, 7, 78);
          font-weight: 600;
          display: flex;
        }
      }
    }
    &:hover .dropdown {
      height: auto;
      transition: all 0.3s ease-in-out;
      padding: 10px 14px 20px 20px;
    }
    .red {
      color: $red;
    }
  }
}

@media (max-width: $breakpoint-large) {
  .navbar_links_items_wrapper {
    display: none;
  }
}
