@import "./Variables.module.scss";


.tracking_wrapper {
  width: 100%;
  margin: 40px 0 0 0;
  background-color: rgb(247, 247, 247);
  @include flex-center;

  .tracking_form {
    width: 80%;
    margin: 16px 0;
    border-top: 1px solid $extra-light-grey;
    position: relative;
    padding: 20px;
    padding-left: 5px;
    .or {
      position: absolute;
      background-color: rgb(247, 247, 247);
      top: -15px;
      right: 44%;
      width: 20px;
      padding: 0 30px;
      @include flex-center;
      h4 {
        font-weight: 600;
        font-size: 22px;
      }
    }

    .check_order {
      width: 100%;
      @include flex-between;
      margin: 20px 0;

      h4 {
        font-weight: 700;
        font-size: 18px;
      }

      .radio {
        input {
          margin: 0 5px;
          transform: scale(1.5);
          color: $yellow;
        }
        label {
          margin-right: 20px;
        }
      }
    }

    p {
      margin: 20px 0;
    }

    .req {
      font-size: 13px;
    }

    .inputs_wrapper {
      width: 100%;
      .inputs {
        width: 100%;
        @include flex-column-start;

        label {
          font-size: 14px;
          font-weight: 600;
        }
        input {
          width: 100%;
          padding: 5px 12px;
          border: none;
          border-bottom: 1px solid $grey;
          margin: 10px 0;
          background-color: rgb(247, 247, 247);
          padding: 10px;

          &:focus {
            outline: 0;
          }

          &::placeholder {
            font-size: 12px;
          }
        }
      }

      button {
        margin: 16px 0;
        background-color: $yellow;
        color: white;
        padding: 8px 12px;
        border-radius: 4px;
        width: 180px;
        font-style: 18px;
        font-weight: 600;
        border: 0;
        outline: 0;

        &:hover {
          color: $yellow;
          border: 1px solid $yellow;
          background-color: white;
        }
      }
    }
  }
}


$breakpoint-large: 1024px;
@media (max-width: $breakpoint-large) {
  .tracking_wrapper {
    .tracking_form {
      width: 100%;
      padding: 0px 30px;

      .check_order {
        width: 95%;
      }

      p {
        width: 80%;
      }

      .inputs_wrapper {
        width: 80%;
      }
    }
  }
}

$breakpoint-medium: 769px;
@media (max-width: $breakpoint-medium) {
  .tracking_wrapper {
    .tracking_form {
      border-top: none;
      padding: 0px 10px;

      .or {
        display: none;
      }

      .check_order {
        margin: 0px;
        @include flex-start;

        .radio {
          margin-left: 50px;

          input {
            margin: 0 8px;
          }
        }
      }

      p {
        width: 100%;
      }

      .inputs_wrapper {
        width: 100%;
        .button {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

$breakpoint-small: 480px;
@media (max-width: $breakpoint-small) {
  .tracking_wrapper {
    .tracking_form {
      .check_order {
        width: 100%;
        display: flex;
        justify-content: space-around;

        h4 {
          font-size: 14px;
          padding-top: 3px;
        }

        label {
          font-size: 14px;
          margin-left: 3px;
        }

        .radio {
          display: flex;
          justify-content: space-around;
          margin-left: 3px;
          input {
            margin: 0 3px;
          }
        }
      }

      p {
        text-align: center;
      }

      .req {
        text-align: left;
      }
    }
  }
}
